/* CSS Reset */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
    margin: 0;
    padding: 0;
}

/* Set a baseline font size for better cross-browser consistency */
body {
    font-size: 16px;
}